<div class="w-screen h-screen bg-company fixed top-0 z-30 flex flex-col justify-center items-center gap-y-6 -left-full" id="expanded-menu">
    <a class="header text-background/60 hover:text-background duration-200 ease-in" href="/#contact_form">Contact Us</a>
    <a class="header text-background/60 hover:text-background duration-200 ease-in" href="/projects">View All Projects</a>
</div>