/* Base font sizes */
body {
    font-size: 16px;
  }
  
  .small-body {
    font-size: 0.875rem; /* 14px */
  }
  
  .body {
    font-size: 1rem; /* 16px */
  }
  
  .large-body {
    font-size: 1.25rem; /* 20px */
  }
  
  .header {
    font-size: 2rem; /* 32px */
  }
  
  /* Media Queries */
  
  /* Extra Small Devices (Phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .small-body {
      font-size: 0.75rem; /* 12px */
    }
  
    .body {
      font-size: 0.875rem; /* 14px */
    }
  
    .large-body {
      font-size: 1rem; /* 16px */
    }
  
    .header {
      font-size: 1.5rem; /* 24px */
    }
  }
  
  /* Small Devices (Portrait Tablets and Large Phones, 600px to 768px) */
  @media only screen and (min-width: 600px) and (max-width: 768px) {
    .small-body {
      font-size: 0.875rem; /* 14px */
    }
  
    .body {
      font-size: 1rem; /* 16px */
    }
  
    .large-body {
      font-size: 1.125rem; /* 18px */
    }
  
    .header {
      font-size: 1.75rem; /* 28px */
    }
  }
  
  /* Medium Devices (Landscape Tablets, 768px to 992px) */
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .small-body {
      font-size: 0.813rem; /* 13px */
    }
  
    .body {
      font-size: 1.25rem; /* 20px */
    }
  
    .large-body {
      font-size: 2rem; /* 32px */
    }
  
    .header {
      font-size: 2.5rem; /* 40px */
    }
  }
  
/* Desktops */
@media only screen and (min-width: 1025px) {
    .small-body {
        font-size: 1rem; /* 16px */
    }
    
    .body {
        font-size: 1.5rem; /* 24px */
    }
    
    .large-body {
        font-size: 2.5rem; /* 40px */
    }
    
    .header {
        font-size: 4rem; /* 64px */
    }
    }
  