---
import Image from "astro/components/Image.astro"
import BasicLayout from "../layouts/BaicLayout.astro"
import LandingCard from "../components/astro/LandingCard.astro"
import ProperEagerImage from "../components/astro/ProperEagerImage.astro"
import ProperImage from "../components/astro/ProperImage.astro"
import PreloadingCounter from "../components/react/PreloadingCounter.jsx"
import ExpandedNavbar from "../components/astro/ExpandedNavbar.astro"
---

<BasicLayout SEOObject={{cardTitle:"Pierce Interirios | Home", cardDescription:"An interior design studio that makes sure your vision is reserved",  cardURL: "/images/seo/landing.png", pageDescription: "An interior design studio that makes sure your vision is reserved", pageTitle: "Pierce Interirios | Home"}}>
	<!-- TODO: Uncomment once done -->

	<ExpandedNavbar/>
	<div class="w-full h-full fixed top-0 left-0 bg-company z-50" id="preloader">
		<div class="w-[95vw] absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 overflow-hidden">
			<svg class="w-full opacity-0" viewBox="0 0 985 73" fill="none" xmlns="http://www.w3.org/2000/svg" id="preview-logo">
				<path d="M0 0.815638H28.2032C37.5698 0.815638 44.9391 3.02467 50.3111 7.44273C55.6832 11.8608 58.3692 17.9441 58.3692 25.6927C58.3692 33.4413 55.6832 39.5247 50.3111 43.9427C44.9391 48.3608 37.5698 50.5698 28.2032 50.5698H10.3308V72.1844H0V0.815638ZM10.3308 41.6997H27.8932C34.4361 41.6997 39.4293 40.3403 42.8729 37.6215C46.3165 34.8347 48.0384 30.8585 48.0384 25.6927C48.0384 20.527 46.3165 16.5847 42.8729 13.8659C39.4293 11.0791 34.4361 9.68575 27.8932 9.68575H10.3308V41.6997Z" fill="white"/>
				<path d="M83.8774 72.1844H73.5466V0.815638H83.8774V72.1844Z" fill="white"/>
				<path d="M115.859 40.2723V63.3142H158.008V72.1844H105.528V0.815638H156.562V9.68575H115.859V31.6061H152.12V40.2723H115.859Z" fill="white"/>
				<path d="M217.196 48.2249L234.345 72.1844H223.085L207.485 50.264C205.557 50.3999 204.041 50.4679 202.939 50.4679H185.067V72.1844H174.736V0.815638H202.939C212.306 0.815638 219.675 3.02467 225.047 7.44273C230.419 11.8608 233.105 17.9441 233.105 25.6927C233.105 31.1983 231.728 35.8883 228.973 39.7626C226.218 43.6369 222.292 46.4576 217.196 48.2249ZM185.067 41.8017H202.63C209.172 41.8017 214.166 40.4083 217.609 37.6215C221.053 34.8347 222.775 30.8585 222.775 25.6927C222.775 20.527 221.053 16.5847 217.609 13.8659C214.166 11.0791 209.172 9.68575 202.63 9.68575H185.067V41.8017Z" fill="white"/>
				<path d="M282.132 73C271.181 73 262.055 69.5675 254.755 62.7025C247.523 55.7696 243.908 47.0354 243.908 36.5C243.908 25.9646 247.523 17.2644 254.755 10.3994C262.055 3.46648 271.215 0 282.235 0C293.874 0 303.034 3.70437 309.715 11.1131L303 17.5363C297.559 11.8948 290.775 9.07402 282.648 9.07402C274.452 9.07402 267.669 11.6909 262.296 16.9246C256.924 22.0903 254.238 28.6155 254.238 36.5C254.238 44.3845 256.924 50.9437 262.296 56.1774C267.669 61.3431 274.452 63.926 282.648 63.926C290.706 63.926 297.49 61.0712 303 55.3617L309.715 61.7849C302.966 69.2616 293.771 73 282.132 73Z" fill="white"/>
				<path d="M334.783 40.2723V63.3142H376.933V72.1844H324.453V0.815638H375.487V9.68575H334.783V31.6061H371.045V40.2723H334.783Z" fill="white"/>
				<path d="M431.736 72.1844H421.405V0.815638H431.736V72.1844Z" fill="white"/>
				<path d="M505.247 54.0363V0.815638H515.578V72.1844H507.106L463.717 18.9637V72.1844H453.386V0.815638H461.857L505.247 54.0363Z" fill="white"/>
				<path d="M561.811 72.1844H551.583V9.68575H526.789V0.815638H586.605V9.68575H561.811V72.1844Z" fill="white"/>
				<path d="M608.187 40.2723V63.3142H650.337V72.1844H597.856V0.815638H648.891V9.68575H608.187V31.6061H644.448V40.2723H608.187Z" fill="white"/>
				<path d="M709.524 48.2249L726.674 72.1844H715.413L699.813 50.264C697.885 50.3999 696.37 50.4679 695.268 50.4679H677.396V72.1844H667.065V0.815638H695.268C704.635 0.815638 712.004 3.02467 717.376 7.44273C722.748 11.8608 725.434 17.9441 725.434 25.6927C725.434 31.1983 724.056 35.8883 721.302 39.7626C718.547 43.6369 714.621 46.4576 709.524 48.2249ZM677.396 41.8017H694.958C701.501 41.8017 706.494 40.4083 709.938 37.6215C713.381 34.8347 715.103 30.8585 715.103 25.6927C715.103 20.527 713.381 16.5847 709.938 13.8659C706.494 11.0791 701.501 9.68575 694.958 9.68575H677.396V41.8017Z" fill="white"/>
				<path d="M752.456 72.1844H742.125V0.815638H752.456V72.1844Z" fill="white"/>
				<path d="M806.751 73C795.663 73 786.468 69.5335 779.168 62.6006C771.868 55.6676 768.217 46.9674 768.217 36.5C768.217 26.0326 771.868 17.3324 779.168 10.3994C786.468 3.46648 795.663 0 806.751 0C817.771 0 826.896 3.46648 834.128 10.3994C841.428 17.3324 845.079 26.0326 845.079 36.5C845.079 46.9674 841.428 55.6676 834.128 62.6006C826.896 69.5335 817.771 73 806.751 73ZM806.751 63.926C814.74 63.926 821.387 61.3431 826.69 56.1774C832.062 50.9437 834.748 44.3845 834.748 36.5C834.748 28.6155 832.062 22.0903 826.69 16.9246C821.387 11.6909 814.74 9.07402 806.751 9.07402C798.624 9.07402 791.875 11.6909 786.503 16.9246C781.2 22.0903 778.548 28.6155 778.548 36.5C778.548 44.3845 781.2 50.9437 786.503 56.1774C791.875 61.3431 798.624 63.926 806.751 63.926Z" fill="white"/>
				<path d="M903.328 48.2249L920.478 72.1844H909.217L893.617 50.264C891.689 50.3999 890.174 50.4679 889.072 50.4679H871.199V72.1844H860.869V0.815638H889.072C898.438 0.815638 905.808 3.02467 911.18 7.44273C916.552 11.8608 919.238 17.9441 919.238 25.6927C919.238 31.1983 917.86 35.8883 915.106 39.7626C912.351 43.6369 908.425 46.4576 903.328 48.2249ZM871.199 41.8017H888.762C895.305 41.8017 900.298 40.4083 903.742 37.6215C907.185 34.8347 908.907 30.8585 908.907 25.6927C908.907 20.527 907.185 16.5847 903.742 13.8659C900.298 11.0791 895.305 9.68575 888.762 9.68575H871.199V41.8017Z" fill="white"/>
				<path d="M957.003 73C951.563 73 946.294 72.1844 941.197 70.5531C936.17 68.8538 932.209 66.6788 929.317 64.0279L933.139 56.0754C935.894 58.5223 939.407 60.5275 943.677 62.0908C948.016 63.5861 952.458 64.3338 957.003 64.3338C962.995 64.3338 967.472 63.3482 970.434 61.3771C973.395 59.338 974.876 56.6532 974.876 53.3226C974.876 51.0116 974.049 49.0745 972.396 47.5112C970.812 45.8799 968.712 44.6564 966.095 43.8408C963.546 42.9572 960.723 42.1755 957.623 41.4958C954.524 40.7481 951.425 39.8985 948.326 38.9469C945.226 37.9953 942.368 36.8399 939.751 35.4804C937.203 34.121 935.102 32.1839 933.449 29.669C931.865 27.0861 931.073 23.9935 931.073 20.3911C931.073 14.4777 933.415 9.61778 938.098 5.81145C942.85 1.93715 949.737 0 958.76 0C968.057 0 975.806 2.10708 982.004 6.32123L978.595 14.4776C972.465 10.6033 965.854 8.6662 958.76 8.6662C952.906 8.6662 948.498 9.71974 945.536 11.8268C942.644 13.9339 941.197 16.6527 941.197 19.9832C941.197 22.702 942.265 24.9451 944.4 26.7123C946.604 28.4115 949.324 29.635 952.561 30.3827C955.798 31.1304 959.311 32.0479 963.099 33.1355C966.887 34.155 970.399 35.2765 973.636 36.5C976.873 37.6555 979.559 39.6266 981.694 42.4134C983.898 45.2002 985 48.6327 985 52.7109C985 58.5563 982.59 63.4162 977.768 67.2905C973.016 71.0968 966.095 73 957.003 73Z" fill="white"/>
			</svg>
		</div>
		<div class="w-full h-fit absolute bottom-5 px-5 overflow-hidden">
			<PreloadingCounter client:load/>
		</div>
	</div>
	<main class="gap-y-[12rem] flex flex-col">
		<section class="w-full h-screen" id="hero">
			<div class="w-full space-y-7">
			<!-- Image goes to here -->
			<div class="w-full h-[50vh] relative overflow-hidden z-40" id="main-hero-img-container">
				<div class="w-full h-[250%] absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/3 parallax-scroll z-40" id="hero-image-container">
					<ProperEagerImage imagePath="/src/assets/landing/hero.png" altText="a blue room with a sofa" />
				</div>
			</div>
			<div class="w-full grid desktop:grid-cols-6 tablet:grid-cols-6 desktop:px-5 tablet:px-5 gap-5">
				<p class="desktop:col-span-2 tablet:col-span-2 body">
					We renovate homes by closely collaborating with clients to bring 
					their unique ideas to life. We are committed to transforming your 
					space to reflect your personal style and preferences with precision
					and elegance.
				</p>

				<div class="desktop:col-start-5 tablet:col-start-5 space-y-6">
					<h4 class="body">
						We work in
					</h4>
					<ul class="small-body space-y-3">
						<li>New York</li>
						<li>Los Angeles</li>
						<li>London</li>
						<li>Paris</li>
						<li>Dubai</li>
					</ul>
				</div>

				<div class="space-y-6">
					<h4 class="body">
						Main services
					</h4>
					<ul class="small-body space-y-3">
						<li>Interior Design</li>
						<li>Custom Furniture Design</li>
						<li>Lighting Design</li>
						<li>Styling</li>
						<li>Project Coordination</li>
					</ul>
				</div>
			</div>
			</div>
		</section>

		<!-- the unexpected navbar -->
		<nav class="sticky top-5 w-full z-30" id="navbar">
			<div class="w-full tablet:px-5 grid tablet:grid-cols-6 gap-5" id="navbar-contents">
				<div class="w-full flex justify-start">
					<Image src="/icons/square_logo_bw.svg" width={39} height={39} alt="logo" loading="eager"/>
				</div>
				<div class="col-span-1 col-start-6 relative">
					<a href="#contact_form" class="text-text/60 hover:text-text duration-200 ease-in rounded-full body px-5 py-2" id="navbar-contact-link">
						Contact Form
					</a>
					<div class="aspect-square h-[70px] absolute right-0 top-1/2 -translate-y-1/2 flex justify-center items-center opacity-0 invisible" id="burger-menu-icon">
						<svg class="w-full" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 12.2667H32M0 18.6667H32" stroke="black" id="burger-path"/>
						</svg>
					</div>
				</div>
			</div>
		</nav>
					

		<section class="w-full h-[300vh] relative" id="selected_projects">
			<div class="w-full h-screen sticky top-0 overflow-hidden" id="display_div">
				<div class="w-full h-screen relative bg-background project_card" id="project_1">
					<a class="w-full space-y-7 absolute bottom-0" href="/projects/skyline-serenity">
						<div class="w-full px-5 flex flex-row justify-between items-baseline">
							<p class="small-body">New York City, USA</p>
							<h3 class="header">Skyline Serenity</h3>
							<p class="small-body">March 2022</p>
						</div>
						<!-- Image goes into here -->
						<div class="w-full h-[70vh]">
							<ProperEagerImage imagePath="/src/assets/projects/skyline-serenity/11.png" altText="hallway in the night"/>
						</div>
					</a>
				</div>
				<div class="w-full h-screen relative bg-background project_card" id="project_2">
					<a class="w-full space-y-7 absolute bottom-0" href="/projects/hamptons-heaven">
						<div class="w-full px-5 flex flex-row justify-between items-baseline">
							<p class="small-body">The Hamptons, USA</p>
							<h3 class="header">Hamptons Haven</h3>
							<p class="small-body">June 2021</p>
						</div>
						<!-- Image goes into here -->
						<div class="w-full h-[70vh]">
							<ProperEagerImage imagePath="/src/assets/projects/hamptons-heaven/2.png" altText="bathroom"/>
						</div>
					</a>
				</div>
				<div class="w-full h-screen relative bg-background project_card" id="project_3">
					<a class="w-full space-y-7 absolute bottom-0" href="/projects/ocean-breeze-villa">
						<div class="w-full px-5 flex flex-row justify-between items-baseline">
							<p class="small-body">Malibu, USA</p>
							<h3 class="header">Ocean Breeze Villa</h3>
							<p class="small-body">September 2021</p>
						</div>
						<!-- Image goes into here -->
						<div class="w-full h-[70vh]">
							<ProperEagerImage imagePath="/src/assets/projects/ocean-breeze-villa/11.png" altText="an infinity pool"/>
						</div>
					</a>
				</div>	
			</div>
		</section>

		<section class="w-full h-fit px-5" id="specialty">
			<h2 class="header">
				Our Design<br>Specialty
			</h2>
			<p class="w-full large-body text-text/60 text-end">
				We are world-wide famous 
			</p>
			<p class="w-full large-body text-text/60 ">
				for the interiors that we do. We are most famous for <span class="text-text">Modern Minimalism, Classic Elegance, Contemporary Chic, and Beachfront Luxury.</span>
			</p>
		</section>

		<section class="w-full" id="all_projects_redirect">

			<a class="w-full grid tablet:grid-cols-6 px-5 gap-x-5 enter-animation-section group" href="/projects">
				<!-- Top images -->
				<div class="col-span-2 col-start-2 tablet:h-[380px] relative overflow-hidden">
					<div class="w-full h-[150%] absolute top-0 left-1/2 -translate-x-1/2 parallax-scroll">
						<ProperEagerImage imagePath="/src/assets/landing/redirect/image_1.png" altText="an outdoor sitting area" />
					</div>
				</div>

				<div class="col-span-2 col-start-5 tablet:h-[380px] relative overflow-hidden">
					<div class="w-full h-[150%] absolute top-0 left-1/2 -translate-x-1/2 parallax-scroll" >
						<ProperEagerImage imagePath="/src/assets/landing/redirect/image_2.png" altText="a fancy lamp" />
					</div>
				</div>


				<!-- Link -->
				 <h2 class="col-span-6 header text-center pt-4 text-text/60 group-hover:text-text duration-200 ease-in">See All Projects</h2>

				<!-- Bottom images -->

				<div class="col-span-2 col-start-1 tablet:h-[380px] mt-10 relative overflow-hidden">
					<div class="w-full h-[150%] absolute top-0 left-1/2 -translate-x-1/2 parallax-scroll">
						<ProperEagerImage imagePath="/src/assets/landing/redirect/image_3.png" altText="a mirror" />
					</div>
				</div>

				<div class="col-span-3 col-start-3 tablet:h-[380px] relative overflow-hidden">
					<div class="w-full h-[150%] absolute top-0 left-1/2 -translate-x-1/2 parallax-scroll">
						<ProperEagerImage imagePath="/src/assets/landing/redirect/image_4.png" altText="a sofa" />
					</div>
				</div>
			</a>

		</section>

		<section class="w-full h-[700vh] relative" id="design_process">
			<div class="sticky top-0 w-full h-screen px-5 grid tablet:grid-cols-6 gap-x-5">
				<div class="col-span-2 h-full flex flex-col justify-between items-center">
					<!-- TODO: Make the spacing smaller on smaller devices -->
					<div class="w-full h-[95%] flex flex-col justify-between py-5">
						<h2 class="header">Our Design Process</h2>
						<p class="large-body">We focus on integrating your ideas into your living space. If you like it we add it.</p>
						<a class="body hover:cursor-pointer" href="#contact_form">skip</a>
					</div>
				</div>
				<!-- TODO: The centering of the card is not done properly -->
				 <div class="col-span-4 overflow-hidden pt-[26vh]">
					<div class="space-y-[10vh]" id="card_slider">
						<LandingCard titleLine1="Initial" titleLine2="Consultation" bodyText="We begin with an initial consultation to understand your vision, preferences, and specific needs for the project. This meeting helps us gather detailed information about your lifestyle, aesthetic preferences, budget, and timeline." imagePath="/images/test/Frame 90.png"/>
						<LandingCard titleLine1="Concept" titleLine2="Development" bodyText="We create initial design concepts, mood boards, and sketches to align with your vision. These visual aids help set the overall tone and style of the project." imagePath="/images/test/Frame 88.png"/>
						<LandingCard titleLine1="Design" titleLine2="Proposal" bodyText="We present a detailed design proposal, including layouts, materials, color schemes, and estimated costs. This proposal gives you a clear understanding of the design direction and financial implications."  imagePath="/images/test/Frame 89.png"/>
						<LandingCard titleLine1="Feedback" titleLine2="and Revisions" bodyText="We gather your feedback on the design proposal and make necessary revisions. This ensures the final design reflects your tastes and needs."  imagePath="/images/test/Frame 91.png"/>
						<LandingCard titleLine1="Project" titleLine2="Management" bodyText="We oversee all aspects of the project, coordinating with contractors, suppliers, and artisans. Our management ensures everything is executed to our high standards, staying on schedule and within budget."  imagePath="/images/test/Frame 92.png"/>
						<LandingCard titleLine1="Installation" titleLine2="and Styling" bodyText="We manage the installation of all design elements, including furniture, fixtures, and decor. Our focus is on creating a cohesive and polished space that reflects your vision."  imagePath="/images/test/Frame 93.png"/>
						<LandingCard titleLine1="Final Reveal" titleLine2="" bodyText="We conduct a final walkthrough with you to reveal the transformed space. Any final adjustments are made to ensure you are completely satisfied with the results."  imagePath="/images/test/Frame 94.png"/>
					</div>
				</div>
			</div>
		</section>

		<!-- FIXME: How about we make sections larger than the screen height? -->
		<section class="w-full h-screen bg-company text-background px-5" id="contact_form">

			<h2 class="header">Schedule a <br/>Call</h2>
			<!-- Form goes below -->

			<div class="w-full grid tablet:grid-cols-6 gap-5">
				<p class="col-span-2 body">Ready to discuss your project? Let’s schedule a call with our team</p>
				<!-- TODO: Make the form fully functional except for sending the api request -->
				<form class="col-span-2">
					<div class="w-full">
						<label class="body" for="name">Name</label>
						<input name="name" placeholder="Enter Your Name" class="w-full placeholder:text-background/60 bg-transparent px-5 py-2 border-[1px] border-background/60 rounded-full"/>
					</div>
					<div class="w-full">
						<label class="body" for="phone">Phone</label>
						<div class="w-full placeholder:text-background/60 bg-transparent px-5 py-2 border-[1px] border-background/60 rounded-full flex flex-row justify-center">
						<p class="body">+7</p>
						<input name="phone" placeholder="000-000-00-00" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" class="bg-transparent" />
						</div>
						<!-- <input name="phone" placeholder="Enter Your Name" class="w-full placeholder:text-background/60 bg-transparent px-5 py-2 border-[1px] border-background/60 rounded-full"/> -->
					</div>
				</form>
			</div>
		</section>
	</main>
</BasicLayout>

<script >
	// Scripts are written in separate files
	// so that their fetching can be optimized 
	// in the future
	import '../scripts/hero-animations.js'
	import "../scripts/cursor.js"
	import "../scripts/navbar.js"
	
	import gsap from "gsap";


	// preloader animation
	const startTime = new Date();
	const preloader = document.getElementById("preloader");

	gsap.set("html", {overflow:"hidden", height: "100vh"});

	gsap.from("#counter", {
		y: "100%",
		duration: 0.75,
		ease: "power3.out",
	});

	gsap.set("#preview-logo", {opacity:1, y:"-100%"})

	// // Start playing animation
	document.addEventListener("DOMContentLoaded", ()=>{
		console.log("page began loading");
	});

	//End playing animation
	window.onload = () => {
		const finishTime = new Date();
		const timeDiff = finishTime - startTime;
		console.log("page loaded in", timeDiff, "ms");
		const expectedLoad = 2250; // given in ms also 
		const delay = Math.max(0, (expectedLoad - timeDiff)) + 750; // default: 200ms
		console.log("DEV>>>> delay:", delay, "ms");

		setTimeout(()=>{
			// Play animation when the preloading screen is ready to be removed
			// gsap.to("#preloader", { opacity: 0});
			const tl = gsap.timeline();
			tl.to("#counter", {
				y: "100%",
				duration: 0.75,
				ease: "power3.out",
			});

			tl.to("#preview-logo",  {
				y: "0%",				
				duration: 0.75,
				ease: "power3.out"
			});

			// Moving the hero image
			gsap.set("#main-hero-img-container", {height: "100vh", width: "100vw"})

			tl.to(preloader, {
				backgroundColor: "transparent",
				duration: 1.50,
				ease: "power3.out"
			});

			tl.to("#preview-logo",  {
				y: "-100%",				
				duration: 0.75,
				ease: "power2.out"
			});

			tl.to("#main-hero-img-container", {
				height: "50vh", 
				width: "100vw", 
				duration: 0.75,
				ease: "power2.out",
				delay: -0.75,

				onComplete: ()=>{
					// remove the preloader from the screen
					gsap.set("html", {overflow:"", height: ""});
					preloader.remove();
				}
			});
		}, delay);
	};



</script>




