---
import BasicLayout from "../layouts/BaicLayout.astro"
---

<BasicLayout title="Pierce Interirios | Home">
	<main class="w-full min-h-screen bg-text text-background">
        <h2 class="small-body">small body</h2>
        <h2 class="body">body</h2>
        <h2 class="large-body">large body</h2>
        <h2 class="header">header</h2>
    </main>
</BasicLayout>

